body {
    background-color: #FFEBF6; 
    text-align: center;
    color: #FF69B4; 
    font-family: "Comic Sans MS", "Brush Script MT", cursive;
}

a {
    color: #FFC0CB; 
    text-decoration: none;
}

a:hover {
    color: #FF1493; 
}

main {
    text-align: left;
    max-width: 1200px;  
    width: 90%;        
    margin: 0 auto;      
}

h2 {
    text-align: center;
}

img {
    width: 40%;
}

figure {
    text-align: center;
    font-style: italic;
}

@media screen and (min-width: 981px) and (max-width: 1400px) {
    body {
        font-size: 18px;
    }
}

@media screen and (min-width: 601px) and (max-width: 980px) {
    body {
        font-size: 16px;
    }
}

@media screen and (min-width: 370px) and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    img {
        width: 80%;
    }
    main {
        width: 95%;
    }
}