<h1> Ishita Rout's Intelligent Raven || ITIS 3135 </h1>
        <nav>
            <a href="index.html">Home</a> ||
            <a href="introduction.html">Introduction</a> ||
            <a href="contract.html">Contract</a> ||
            <a href="clevertrinkets/index.html">Intelligent Raven's Clever Trinkets</a> ||
            <a href="stuff/MY BaD PaGE!.htm">My Crappy Page</a> ||
            <a href="website_evaluations.html">Website Evaluations</a> ||
            <a href="hobby/index.html">Hobby</a> ||
            <a href="tables.html">Tables</a> ||
            <a href="forms.html">Forms</a> ||
            <a href="byointro/index.html">BYO Intro</a>
        </nav>